<p>
  <a [routerLink]="['/demogrid']">Go to Data Grid Demo</a>
</p>
<div>
  <additional-filter-button #myFilter
  AdditionalFilterDataField="FirstName"
  [DataControl]="treelist">
    First Name Filter Button
  </additional-filter-button>
  <additional-filter-button
  AdditionalFilterDataField="LastName"
  [DataControl]="treelist">
    Last Name Filter Button
  </additional-filter-button>
</div>
<dx-tree-list #demoTreeList
    [dataSource]="dataSource"
    id="demoTreeList"
    keyExpr="ID"
    parentIdExpr="ParentID"
    [columnAutoWidth]="true"
    [wordWrapEnabled]="true"
    [showBorders]="true">

    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-sorting mode="single"></dxo-sorting>

    <dxi-column dataField="ID" caption="ID">
            <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
    </dxi-column>

        <dxi-column dataField="FirstName" caption="First Name">
            <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
        </dxi-column>

        <dxi-column dataField="LastName" caption="Last Name">
            <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
        </dxi-column>

      <dxi-column dataField="Role" caption="Role">
          <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
      </dxi-column>

      <dxi-column dataField="Experience" caption="Experience">
        <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
    </dxi-column>

  </dx-tree-list>